@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap');

html { 
    box-sizing: border-box;
}
*, *:before, *::after {
    box-sizing: inherit;
}

li {
    list-style: none;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0; 
}

a {
    text-decoration: none;
    color:#4C8A8A;
}

body {
    background-color: rgba(28, 25, 26, 1);
    color:rgb(240, 212, 185);
    font-family: 'Arimo', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

header {
    text-align: center;
}

.firstPage .second-page {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.title1 {
    width: 100%;
}


.input {
    width: 261px;
    height: 50px;
    left: 57px; 
    top: 362px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    font-family: 'Arimo', sans-serif;
    margin-top: 15px;
    padding-left: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.google {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#googleLogin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: transparent;
}

.button {
    width: 175px;
    height: 50px;
    left: 100px;
    top: 546px;
    background: #4C8A8A;
    backdrop-filter: blur(4px);
    border: none;
    border-radius: 10px;
    font-family: 'Arimo', sans-serif;
    color: rgb(240, 212, 185);
    font-size: medium;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.icon {
    width: 12%;
}

.logo {
    width: 50%;
}

.button:hover {
    background-color: #FFFFFF; 
    color: #4C8A8A;
}

.info {
    font-size: 10px;
    text-align: center;
}

#btnPublish{
    position: fixed;
    bottom: 30px;
    right: 17px;
    margin-bottom: 10%;
}

.options {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

#post {
    background-color: #FFFFFF;
}

.wall-nav {
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width:630px){

    .firstPage {
        display: grid;
        grid-template-columns: 50% 50%;

    }

    .second-page {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    head {
        grid-column-start:1;
    }

    .login {
        margin-top: 30%;
        grid-column-start: 2;
    }

    .createCount {
        margin-top: 30%;
        grid-column-start: 2;
    }

    .title1 {
        margin-top: 10%;
        width: auto;
    }

    .info {
        font-size: medium;
    }

    .google {
        width: auto;
    }
}