@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap');

html { 
    box-sizing: border-box;
}
*, *:before, *::after {
    box-sizing: inherit;
}

li {
    list-style: none;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0; 
}

a {
    text-decoration: none;
    color:#4C8A8A;
}

body {
    background-color: rgba(28, 25, 26, 1);
    color:rgb(240, 212, 185);
    font-family: 'Arimo', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

/* Post */

.close-post{
    width: 15%;
    align-self: right;
    display: flex;
}

#post{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
}

/* timeLine */

#headerTimeLine {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title-templete {
    text-align: center;
    margin: 10px;
    margin-top: 20px;
}

.logo-timeLine {
    width: 10%;
}

.firstPage .second-page {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 261px;
    height: 50px;
    left: 57px; 
    top: 362px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    font-family: 'Arimo', sans-serif;
    margin-top: 15px;
    padding-left: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.google {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#googleLogin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: transparent;
}

.button {
    width: 175px;
    height: 50px;
    left: 100px;
    top: 546px;
    background: #4C8A8A;
    backdrop-filter: blur(4px);
    border: none;
    border-radius: 10px;
    font-family: 'Arimo', sans-serif;
    color: rgb(240, 212, 185);
    font-size: medium;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.icon {
    width: 25%;
}

.icon1 {
    width: 18%;
}

.logo {
    width: 40%;
    display: block;
    margin: auto;
}

.button:hover {
    background-color: #FFFFFF; 
    color: #4C8A8A;
}

.info {
    font-size: 10px;
    text-align: center;
}

#btnPublish{
    position: fixed;
    bottom: 30px;
    right: 20px;
    margin-bottom: 10%;
    background-color: transparent;
    border: none;
}

.publish-btn{
    width: 20%;
    margin-left: 70%;
}

.title .userInfo{
    color: rgb(240, 212, 185);
    text-align: center;
    size: 120px;
}

#userInfo {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

#profilePhoto {
    width: 90px;
    padding: 10px;
    height:100;
    border-radius:60px;
}

/* container Post */

#containerPost {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allPost {
    background-color: white;
    color: rgba(0, 0, 0, 0.56);
    margin: 25px;
    width: 70%;
    padding: 20px 40px 20px 40px;
    font-family: 'Arimo', sans-serif;
    border-radius: 20px;

}

.reactions {
    border-top: rgba(0, 0, 0, 0.164);
    border-top: solid;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding-top: 15px;
}

.img-comment {
    width: 50%;
    padding-left:10px;
}

.name-user{
    padding-right: 60%;
}

.img-options {
    width: 7%;
    height: 7%;

}

.user-post {
    color: black;
    display: flex;
    flex-direction: row;
}

.feedPost {
    display: flex;
    flex-direction: column;
}

/* Page resetPassword */
.password-logo {
    width: 35%;
    display: block;
    margin: auto;
}

.iconPassword {
    width: 10%;
    display: block;
    margin: auto;
}

.resetPasswordForm {
    display: flex;
    flex-direction: column;
    text-align:center;
}

/* media computador */ 

@media screen and (min-width:630px){

    .firstPage {
        display: grid;
        grid-template-columns: 50% 50%;

    }

    .second-page {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .resetPasswordForm {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .container-logo {
        grid-column-start: 1 ;
    }

    .container-password {
        grid-column-start: 2;
    }

    head {
        grid-column-start:1;
    }

    .login {
        margin-top: 30%;
        grid-column-start: 2;
    }

    .createAccount {
        margin-top: 30%;
        grid-column-start: 2;
    }

    .title1 {
        margin-top: 10%;
        width: auto;
    }

    .info {
        font-size: medium;
    }

    .google {
        width: auto;
    }
}

/* css menu flotante */

.nav-bar {
    background-color: sandybrown;
    padding: 20px;
    display: block;
    color: seashell;
    cursor: pointer;
    font-size: 1.5em;
    width: 110%;
}

.menu, .submenu {
    padding:0; 
    margin: 0;
}

.menu {
    background-color:transparent;
    width: 110%;
    transition: all 0.5s;
}

.menu-link {
    display: block;
    padding: 10px;
    color: white;
    font-size: 1.4em;
    cursor: pointer;
}

.menu-link:hover {
    background: #444;
}

.submenu .menu-link:hover {
    background: #222;
}

.submenu {
    position: absolute;
    height: 0;
    overflow: visible;
    transition: all 0.3s;
    visibility: hidden;
}

.container-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
}

.submenu .menu-link{
    background-color:#333;
    padding-left: 20;
}

.showMenu {
    margin-left: 0;
}

/* @media (min-width:1024px) {
    .nav-bar {
        display: none;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .container-submenu {
        position: relative;
    }

    .submenu {
        position: absolute;
        top: 60px;
        width: 200px;
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
    }

    .container-submenu:hover .submenu {
        opacity: 1;
        visibility: visible;

    }
} */
